extends ../layout.pug

block content 
    h1 Connexion

    section
        form(action="/auth/signin" method="POST")           
            div(class="form-group")
                label(for="email") Email
                input(type="email" name="email" id="email" value="user1@mail.com")

            div(class="form-group")
                label(for="password") Mot de passe
                input(type="password" name="password" id="password" value="User1@")

            if errors
                ul 
                    each error in errors
                        li #{ error }

            div(class="form-group")
                button(type="submit") Connexion