header(class="px-5")
    a(href="/")
        img(src="images/twitter-white.png", alt="Logo Twitter" width="40px" heigth="auto")
    nav 
        a(href="/tweet/new") Tweet
        a(href="#") Connexion