header(class="px-8")
    a(href="/")
        img(src="/images/twitter-white.png", alt="Logo Twitter" width="40px" heigth="auto")
    nav 
        if isAuthenticated
            a(href="/tweets/form") Tweet
            a(href="/auth/signout") Déconnexion
        else 
            a(href="/auth/signin/form") Connexion
            a(href="/users/signup/form") Inscription