header(class="px-8")
    a(href="/")
        img(src="/images/twitter-white.png", alt="Logo Twitter" width="40px" heigth="auto")
    nav 
        a(href="/tweets/form") Tweet
        a(href="#") Connexion