*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #1A8CD8;
    --secondary-color: aliceblue;
    --link-color: #F7F9F9;
    --main-bg: #15202B;
}

html {
    font-size: 10px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
}

.px-8 {
    padding: 0 0.8rem;
}

/* --------------- Menu --------------- */
header {
    border: 2px solid white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 2.5rem;
}

header nav a {
    color: var(--link-color);
    font-weight: 600;
    font-size: 1.8rem;
}

/* --------------- Main --------------- */
main
{
    margin: 2rem 0;
    color: white;
}

.tweet {
    font-size: 1.5rem;
    margin-top: 2rem;
    border: 1px solid red;
}

/* --------------- Profil --------------- */
.profil {
    border: 2px solid white;
    margin: 10px 0 10px 0;
}

.profil img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}