extends ../layout.pug

block content 
    section  
        p Profile 
        include ../includes/profile.pug
    
    section 
        h1 tweet-list
        if tweets
            each tweet in tweets
                div(class="tweet")
                    p #{ tweet.content }